################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/UT5_EJ1_B-HoloRed/v17
/HoloRedAPI/obj
/HoloRedAPI/.vs/HoloRedAPI
